#calltoaction{
	background-color: rgba(30,136,229 ,1);
}

#footer{
	background-color: rgba(66,66,66 ,1);
}




.gl-mh-a{
	min-height: 25vh;
}

.gl-mh-b{
	min-height: 50vh;
}

.gl-mh-c{
	min-height: 75vh;
}

.gl-mh-d{
	min-height: 100vh;
}




.gl-c-h-a-lr{
	padding-left: 90px;
	padding-right: 90px;
}

.gl-c-v-a-tb{
	padding-top: 45px;
	padding-bottom: 45px;
}

.gl-c-v-a-t{
	padding-top: 45px;
}

.gl-c-v-a-b{
	padding-bottom: 45px;
}

.gl-c-v-b-t{
	padding-top: 15px;
}

.gl-c-v-b-b{
	padding-bottom: 15px;
}

.gl-c-v-c-t{
	padding-top: 7.5px;
}

.gl-c-v-c-b{
	padding-bottom: 7.5px;

}

.gl-c-v-d-t{
	padding-top: 2.5px;
}

.gl-c-v-d-b{
	padding-bottom: 2.5px;
}




.gl-f-a-a{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 600;
	
	line-height: 15px;
}

.gl-f-a-b{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	
	line-height: 15px;
}

.gl-f-a-c{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	
	line-height: 20px;
}

.gl-f-a-d{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	
	line-height: 20px;
}

.gl-f-a-e{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
	
	line-height: 30px;
}

.gl-f-a-f{
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	font-weight: 500;
	
	line-height: 45px;
}




.gl-t-c-l{
	color: rgba(66,66,66 ,1);
}

.gl-t-c-d{
	color: rgba(245,245,245 ,1);
}




.gl-t-a-a{
	text-align: left;
}

.gl-t-a-b{
	text-align: center;
}

.gl-t-a-c{
	text-align: right;
}

.gl-t-a-d{
	text-align: justify;
}




.gl-btn-l-a{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	
	border: solid 2px rgba(66,66,66 ,1);
	border-radius: 0;
	
	transition: 400ms;
}

.gl-btn-l-a:hover{
	
	background-color: rgba(66,66,66 ,1);
	
	color: rgba(245,245,245 ,1);
}

.gl-btn-l-a > .fas{
	display: none;
	width: 15px;
}

.gl-btn-l-a:hover > .fas{
	display: inline-block;
	transition: 400ms;
}

.gl-btn-l-a > .gl-btn-x{
	display: inline-block;
	margin-left: 15px;
}

.gl-btn-l-a > .gl-btn-y{
	display: inline-block;
	margin-left: 15px;
}

.gl-btn-l-a:hover > .gl-btn-x{
	display: inline-block;
	margin-left: 0;
}

.gl-btn-l-a:hover > .gl-btn-y{
	display: inline-block;
	margin-left: 0px;
	padding-left: 15px;
}

.gl-btn-d-a{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	
	border: solid 2px rgba(245,245,245 ,1);
	border-radius: 0;
	
	transition: 400ms;
}

.gl-btn-d-a:hover{
	
	background-color: rgba(245,245,245 ,1);
	
	color: rgba(66,66,66 ,1);
}

.gl-btn-d-a > .fas{
	display: none;
	width: 15px;
}

.gl-btn-d-a:hover > .fas{
	display: inline-block;
	transition: 400ms;
}

.gl-btn-d-a > .gl-btn-x{
	display: inline-block;
	margin-left: 15px;
}

.gl-btn-d-a > .gl-btn-y{
	display: inline-block;
	margin-left: 15px;
}

.gl-btn-d-a:hover > .gl-btn-x{
	display: inline-block;
	margin-left: 0;
}

.gl-btn-d-a:hover > .gl-btn-y{
	display: inline-block;
	margin-left: 0px;
	padding-left: 15px;
}


.gl-btn-l-b{
	padding: 0;
	font-style: italic;
}

.fas{	
	line-height: 0;
}

.video{
	width: 100%;
}

.tile{
	text-decoration: none;
}

@media (max-width: 575.98px) {
	
	
	.gl-t-a-a{
	text-align: left;
	}

	.gl-t-a-b{
		text-align: left;
	}

	.gl-t-a-c{
		text-align: right;
	}

	.gl-t-a-d{
		text-align: justify;
	}

}

@media (max-width: 991.98px) {
	
	.gl-c-h-a-lr{
		padding-left: 45px;
		padding-right: 45px;
	}
	
	.gl-f-a-f{
		font-family: 'Roboto', sans-serif;
		font-size: 30px;
		font-weight: 500;

		line-height: 45px;
	}

}